.uofa_img{
    height: 100vh;
    width: 90%;
    clip-path: url(#clip);
    object-fit: cover;
    transform: translate(-3px, -3px);
    z-index: 1;
    
}
.linear_gradient_uofa{
    position: absolute;
    height: 100vh;
    width: 0;
    clip-path: url(#clip);
    transform: translate(4vw, -3px);
    z-index: 2;
    opacity: 0;
    
    background-image: linear-gradient(to right, #80c3de00,  #80c3de0c, #80c3de9a);
}


.svg{
    position: absolute;
    width: 0;
    height: 0;

    
}


.uofa_img_border{
    height: 100vh;
    width: 0;
    clip-path: url(#clip);
    object-fit: cover;
    transform: translate(-3px, -3px);
    background-color: var(--sect_color1);
    position: absolute;
    transform: scale(1.01);
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
}


#profile_card{
    width: 420px;
    padding-inline: 10px;
    padding-block: 20px;
    background: linear-gradient(135deg, #88daf7, #0172b0);
    border-radius: 20px;

    position: absolute;
    left:-500px;
    top:2vw;
    z-index: 5;



}

.profile_img{
    width:45px;
    height:45px;
    object-fit:cover;
    object-position: top;
    border-radius:50%;
    outline: 2px solid #fff;

}





.edu_card{
    width: 420px;
    padding-inline: 10px;
    padding-block: 20px;
    background: #fff;
    border-radius: 20px;

    position: absolute;
    right:100px;
    top:22vw;
    z-index: 5;

    box-shadow:
        0px 0px 1.5px rgba(0, 0, 0, 0.05),
        0px 0px 3.9px rgba(0, 0, 0, 0.034),
        0px 0px 8px rgba(0, 0, 0, 0.028),
        0px 0px 16.4px rgba(0, 0, 0, 0.022),
        0px 0px 45px rgba(0, 0, 0, 0.016)
    ;
}
