#project_img{
    height: 100vh;
    width: 100%;
    clip-path: url(#clip_project);
    object-fit: cover;
    z-index: 1;
    opacity: 0.9;
    
}
#linear_gradient_project{
    position: absolute;
    height: 0;
    width: 100%;
    clip-path: url(#clip_project);

    z-index: 2;
    opacity: 0;
    
    background-image: linear-gradient(to top, #fcd0e15b,  #fcd0e10e, #fcd0e15b);
}


.svg{
    position: absolute;
    width: 0;
    height: 0;
}


#project_img_border{
    height: 0;
    width: 100%;
    clip-path: url(#clip_project);
    object-fit: cover;
    transform: translate(-3px, -3px);
    background-color: var(--sect_color2);
    position: absolute;

    z-index: 0;
    opacity: 0;
}





#project_headerCard_container{
    position: absolute;
    left: -100%;
    bottom: 30%;
    width: 80vw;
    margin-right: 10px;
    z-index: 5;
    padding-inline: 23px;
    padding-block: 20px;
    box-shadow: var(--box_shadow);
    border-radius: 20px;
    background-color: #fff;
    transition: transform 0.25s ease;
    max-width: 50vw;
}

#project_headerCard_container:hover{
    transform: translateX(5px)
}
#project_headerCard_container h1{
    display: "inline";
    text-wrap: "nowrap";

}

#project_headerCard_container h1 p{
    color: #e2aaca;
    display: inline;
    text-Wrap: wrap;
}


.project_link{
    text-Wrap: nowrap;
    display: inline;
    padding-top: 6px;
    text-decoration: none;
    color: var(--font_color);
}
.project_link:visited{
    color: var(--sect_color2);
}
.project_link svg{
    width: 14px;
    height: 14px;
    text-Wrap: nowrap;
    display: inline;
    transform: translateY(2px);
}
.project_link:visited{
    fill: var(--sect_color2)
}








.grid_container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /*background-color: aqua;*/
    padding-inline: 85px;

    margin-top: 15vw;
}
.a_project{
    background-color: #fff;
    padding-inline: 12px;
    padding-block: 20px;
    border-radius: 20px;
    box-shadow: var(--box_shadow);
    outline: 2px solid transparent;
    transition: box-shadow 0.15s ease, outline 0.15s ease;
}
.a_project:hover{
    box-shadow: none;
    transition: box-shadow 0.15s ease, outline 0.15s ease;
    outline-color: var(--sect_color2);
}


.language{

    background-image: linear-gradient(to right bottom, #ececec77, #f1f1f177, #f5f5f577, #fafafa77, #ffffff77);
    outline: 2px solid rgba(209, 209, 209, 0.34);
    border-radius: 50%;

}

@media (max-width: 760px) {
    .grid_container{
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }

    #project_headerCard_container{
        max-width: 100%;
    }

    #project_headerCard_container h1 p{
        text-wrap: wrap;
    }

    .grid_container{
        padding-inline: 5px;
    }

}