* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "Arial - modified";
  size-adjust: 92%;
  
  src: local(Arial);
}

@font-face { /*see https://www.youtube.com/watch?v=zK-yy6C2Nck&t=108s*/
  font-family: "mukta";
  src: url('../assets/fonts/mukta-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/mukta-regular-webfont.woff') format('woff');
}


:root{
  --body_color:#f7fbfc;
  --blue1:#80c4de;
  --blue2:#38a9d6;

  --yellow1:#edb563;

  --sect_color1:#bedde8;
  --sect_color2:#e9adc4;
  --sect_color3:#edb563;

  --fontWeight-regular:300;
  --fontWeight-semi-bold:400;
  --fontWeight-bold:700;

}


::-webkit-scrollbar {
  width: 9px;
    
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue1);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--yellow1);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: var(--blue2);
}




::selection {
  color: #1c1c1c;
  background: #46cb9f;
}  



body {
  color: #090908;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #f7fbfc;
  font-family: "outfit", "mukta", "Arial - modified";
  font-weight: var(--fontWeight-regular);
  font-size: 18px;
  line-height: 1.2;
}

canvas {
  touch-action: none;
}

img, svg{
  max-width: 100%;
  display:block;
}
