* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "Arial - modified";
  size-adjust: 92%;
  
  src: local(Arial);
}

@font-face { /*see https://www.youtube.com/watch?v=zK-yy6C2Nck&t=108s*/
  font-family: "mukta";
  src: url('../assets/fonts/mukta-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/mukta-regular-webfont.woff') format('woff');
}


:root{
  /*--body_color:#f7fbfc;*/
  --body_color:#f7fbfc;
  --blue1:#bedde8;
  --blue2:#38a9d6;

  --yellow1:#edb563;

  --sect_color1:#80c4de;
  --sect_color2:#e9adc4;
  --sect_color3:#edb563;

  --box_shadow:
  0px 0px 1.5px rgba(0, 0, 0, 0.05),
  0px 0px 3.9px rgba(0, 0, 0, 0.034),
  0px 0px 8px rgba(0, 0, 0, 0.028),
  0px 0px 16.4px rgba(0, 0, 0, 0.022),
  0px 0px 45px rgba(0, 0, 0, 0.016)
;

  --fontWeight-regular:300;
  --fontWeight-semi-bold:400;
  --fontWeight-bold:700;

}


::-webkit-scrollbar {
  width: 9px;
    
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue2);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--yellow1);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: var(--blue1);
}




::selection {
  color: #1c1c1c;
  /*background: #46cb9f;*/
  background: var(--blue1);
}  



body {
  overflow-x: hidden;
  color: #1c1c1c;
  height: 100%;
  background: var(--body_color);
  font-family: "outfit", "mukta", "Arial - modified";
  font-weight: var(--fontWeight-regular);
  font-size: 18px;
  line-height: 1.2;
}

canvas {
  touch-action: none;
}

img, svg{
  max-width: 100%;
  display:block;
}

h1{
  font-size: 35px;
}
h2{
  font-size: 27px;
}
h3{
  font-size: 22px;
}


@media (max-width: 760px) {
  body{
    font-size: 3vw;
  }

  h1{
    font-size: 7vw;
  }
  h2{
    font-size: 5vw;
  }
  h3{
    font-size: 4vw;
  }



}

